@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
}/* navigation bar styling */
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}
.navbar .myLogo a{
    color:#fff;
    font-weight:600;
    font-size:30px;
}
.navbar .myLogo a span{
    color:crimson;
    transition:all 0.4s ease;
}
.navbar{
    position: fixed;
    width:100% ;
    padding: 30px 0px;
    /*background:white;*/
    font-family:'Ubuntu', sans-serif;
    margin: 0 auto;

    
}.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .nav li a{
    color:#fff;
    font-weight: 500;
    margin-left: 25px;
    font-size:18px;
    display: block;
    transition: color 0.4s ease;

}
.navbar .nav li{
    list-style: none;
    display: inline-block;

   
}
.navbar .nav li a:hover{
    color:crimson;
    
}
    /* styling for main section*/
.main{
    display: flex;
    background:url("pictures/my-pic.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    color: white;
    min-height: 500px;
    font-family:'Ubuntu', sans-serif;
    line-height: 1.6;

}.main .max-width{
    margin: auto 0 auto 40px;
}
.main .main-content .Intro{
    font-size: 30px;
}
.main .main-content .full_name{
    font-size: 50px;
    font-weight: 600;
    margin-left:-3px;
}.main .main-content .Profession{
    font-size: 40px;
    font-weight:500;
    margin:5px 0;
    
}.main .main-content .Profession span{
color:crimson;
font-weight: 550;
}